.App{
    background-color: #fff;
    min-width: 600px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.App h1{
    font-size: 2rem;
    background-color: #E14647;
    padding: 1rem;
    color: #fff;
}
ul{
    list-style: none;
    padding: 0;
}
